{% extends "base.html" %}
{% block title %}Регистрация — Zoo Shop{% endblock %}
{% block content %}
  <h1 class="mb-4">Регистрация</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username.label_tag }} {{ form.username }}<br>
    {{ form.email.label_tag }}    {{ form.email }}<br>
    {{ form.birth_date.label_tag }} {{ form.birth_date }}
{% for error in form.birth_date.errors %}
  <div class="text-danger">{{ error }}</div>
{% endfor %}
    <br>
    {{ form.phone.label_tag }}    {{ form.phone }}<br>
    {{ form.password1.label_tag }} {{ form.password1 }}<br>
    {{ form.password2.label_tag }} {{ form.password2 }}<br>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
  
{% endblock %}
